html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* code */


.container {
    width: 1140px;

    margin-left: auto;
    margin-right: auto;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
}

a{
    text-decoration: none;
    color: #4F5665;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}
.nav {
    display: flex;
}
.nav li:not(:last-child) {
    margin-right: 40px;
}
.header-btn {
    display: flex;
}
.btn-o {
    width: 150px;
    height: 45px;

    border: 2px solid #F53855;
    border-radius: 30px;
    color: #F53855;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.btn-in {
    width: max-content;

    margin-right: 30px;

    border:none;
    color: #0B132A;
    font-weight: 500;

    cursor: pointer;
}


.main-features_easy {
    display: flex;
    align-items: center;
    margin-bottom: 103px;
}
.easy {
    width: max-content;
}
.main-features__discr {
    width: 555px;

    margin-right: 40px;
}

.title {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;

    margin-bottom: 20px;
}
.discr {
    color: #4F5665;
    line-height: 30px;
    font-size: 16px;

    margin-bottom: 50px;
}

.btn-features {
    width: 250px;
    height: 60px;

    border: 2px solid #F53855;
    border-radius: 10px;
    background-color: #F53855;
    box-shadow: 0 10px 20px -5px #F53855;

    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.btn-features a {
    color: #ffffff;
}

.main-features_statistic {
    display: flex;

    height: 200px;

    background:#FFFFFF;
    box-shadow: 0 10px 20px -10px #00000062;
    border-radius: 10px;
    justify-content:space-around;
}
.main-features_items {
    display: flex;
    align-items: center;
}

.numb {
    font-size: 25px;
    font-weight: 700;
    color: #0B132A;

    margin-bottom: 5px;
}
.item-statistic {
    font-size: 20px;

}
.statistic-img {
    margin-right: 36px;
}

.main-features_features {
    margin-top: 96px;
    margin-bottom: 130px;
}
.title-features {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: #0B132A;
}

.discr-features {
    margin-bottom: 20px;
}

.features li {
    font-size: 14px;
}
.features li:not(:last-child) {
    margin-bottom: 15px;
}
.features-items {
    display: flex;
    align-items: center;
}

.main-features__discr-features {
    margin-left: 169px;
}


.plan {
    width: 100%;

    background: linear-gradient(to bottom, #F8F8F8, #f8f8f800) ;
}

.titles-plans {
    margin-top: 80px;
    margin-bottom: 60px;
}

.choose-plans {
    display: flex;
    justify-content: space-between;

    margin-bottom: 150px;
}

.choose-plans_plan {
    width: 330px;
    height: 760px;

    background-color: #FFFFFF;
    border: 2px  solid #DDDDDD;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box {
    margin-top: 80px;
    margin-bottom: 30px;
}
.title-plan {
    color: #0B132A;
    font-size: 18px;
    font-weight: 500;

    margin-bottom: 30px;
}
.down-title-plan {
    margin-top: auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans-items {
    margin-left: 26px;
}


.map {
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 36px;
}


.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}


 /* sliders */
.sliders {
    height: 590px;
    margin-bottom: 105px;
}
.sliders-main {
    width: 2000px;
    height: 300px;

    background-color: rgb(134, 215, 218);
}
/* end */

footer {
    width: 100%;

    background: linear-gradient(to bottom, #F8F8F8, #f8f8f800) ;
    position: relative;
}

.sub {
    width: 1140px;
    height: 233px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.sub-discr {
    width: 410px;
    height: 115px;
}

.footer {
    height: 640px;
}
.main-footer {
    margin-top: 60px;
    padding-top: 255px;
    display: flex;
    justify-content: space-between;
}


.follow {
    width: 340px;
    height: 62px;
}
.follow .logo{
    margin-bottom: 20px;
}
.follow .discr {
    margin-bottom: 30px;
}
.follow-me {
    width: 142px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.copyright {
    color: #AFB5C0;
}

.nav-footer li {
    font-size: 16px;
    line-height: 30px;
}
.nav-footer li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-nav_title {
    font-weight: 500;
    color:#0B132A;
    margin-bottom: 20px;
}


/* hover */

.btn-features:hover {
    background-color: #FF6955;
    border: 2px solid #FF6955;
    box-shadow: 0 10px 30px 0 #F53855;
    transition: 0.3s;
}
.btn-o:hover {
    background-color: #F53838;
    color: white;
    transition: 0.2s;
}

.choose-plans_plan:hover {
    border: 2px solid #F53855;
    transition: 0.5s;
}

.choose-plans_plan:hover .img-box {
    transform: translateY(-20px);
    transition: 0.5s linear;
}
.choose-plans_plan:hover .discr-plan {
    transform: translateY(20px);
    transition: 0.5s linear;
}
.choose-plans_plan:hover .features-items {
    margin-bottom: 20px;
    transition: 0.5s linear;
}
